@import "bootstrap/scss/variables", "bootstrap/scss/mixins";

.detail-warp {
  margin-top: 3vh;
}

.detail-breadcrumb {
  margin-bottom: 3vh;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 0.5vh;
}

h3 {
  font-size: 1.5rem;
}

.detail-title-info-spacer {
  margin-bottom: 3vh;
}

.detail-5f-warp {
  background-color: #eceeef;
  border-radius: 5px;
  padding:6px;
}

.detail-read-more-btn {
  margin-top: 5px;
}

@include media-breakpoint-up(md) {
  h3 {
    font-size: 1.75rem;
  }
}