@import "bootstrap/scss/variables", "bootstrap/scss/mixins", "bootstrap/scss/card";

.list-breadcrumb {
  margin-left: 1rem;

}

.list-article {
  margin-top: 1vh;
}

.list-ad-h-01 {
  height: 60px;
}

.list-board-list-warp {
  margin-top: 1vh;
}

@include media-breakpoint-up(lg) {
  .list-ad-h-01 {
    height: 60px;
  }
}

@include media-breakpoint-up(sm) {
  .card-columns {
    column-count: 1;
    column-gap: 1.25rem;
    -webkit-column-count: 1;
    -webkit-column-gap: 1.25rem;
    -moz-column-count: 1;
    -moz-column-gap: 1.25rem;
  }
}

@include media-breakpoint-up(lg) {
  .card-columns {
    column-count: 3;
    column-gap: 1.25rem;
    -webkit-column-count: 3;
    -webkit-column-gap: 1.25rem;
    -moz-column-count: 3;
    -moz-column-gap: 1.25rem;
  }
}
