@import "bootstrap/scss/variables", "bootstrap/scss/mixins";

.navbar-warp {
  margin-top: 3vh;
}

.navbar-breadcrumb-items::after {
  content: "/";
}

.navbar-breadcrumb-items:last-child::after {
  content: "";
}

.navbar-warp h3 {
  &,
  & :visited,
  & :active,
  & :hover,
  & :focus {
    color: black;
    text-decoration: none;
  }
}